.topo {
  width: 90%;
  padding: 50px;
  & h1 {
    padding-top: 25px;
    width: 60px;
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    margin: 0 auto;
  }
}

.menu {
  color: aliceblue;
  display: flex;
  justify-content: space-between;
  & p {
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    min-width: 0;
    flex-shrink: 1;
  }
}

.usuario {
  display: flex;
  flex-direction: column;
  justify-content: right;
  padding-right: 15px;
}

.container {
  width: 600px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  font-size: 150px;
  & select {
    font-size: 20px;
  }
}

.acesso button {
  display: flex;
  width: 100%;
  flex-direction: column;
  font-size: 25px;
  letter-spacing: 1px;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  cursor: pointer;
  background-color: #f4fcfb;
}

.button:hover {
  opacity: 0.9;
}

.acesso label {
  font-size: 20px;
}
