.h {
  display: flex;
  margin-top: 20px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70%;
  margin: 0 auto;
  background-color: #e9e9e9;
  padding: 5px;
  border-radius: 10px;
  font-size: 22px;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 20px;
  gap: 5px;

  & input {
    font-size: 25px;
    width: 37%;
    padding: 10px;
    border-radius: 13px;
    background-color: #e9e9e9;
  }
  & button {
    background-color: #e9e9e9;
    font-size: 25px;
    border-radius: 13px;
    padding: 10px;
    cursor: pointer;
  }
}

.botaoMensagem {
  cursor: pointer;
}

.subtitulo {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: aliceblue;
  font-size: 40px;
  padding: 40px;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 50%;
  background-color: #e9e9e9;
  border-radius: 10px;
}
.listaVagas {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
  margin: 10px;
}
.card {
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 10px;
}

.card_titulo {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
}

.card_info {
  font-size: 22px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: fit-content;
  margin: 0 auto;
  gap: 5px;
  width: 80%;
  & p {
    text-align: left;
  }
  &label {
    text-align: right;
  }
}

.comentario {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  top: 0;
  width: 400px;
  height: 100%;
  background: rgb(170, 170, 170);
  box-shadow: 0px 2px 5px rgb(253, 253, 253);
  padding: 20px;
  color: black;
  & button {
    color: black;
    margin: 20px;
    cursor: pointer;
  }
}
.fechar {
  align-self: flex-end;
  background-color: #e9e9e9;
  padding: 5px;
  border-radius: 9px;
}

.botaoComentario {
  cursor: pointer;
  background-color: #e9e9e9;
  padding: 5px;
}

.conteudoComentario {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cardComentario {
  background-color: #e9e9e9;
  border-radius: 10px;
  padding: 10px;

  & p {
    margin-bottom: 8px;
  }
}

.mensagem {
  position: fixed;
  right: 0;
  top: 0;
  width: 400px;
  height: 100%;
  background: #1a263f;
  box-shadow: 0px 2px 5px rgb(253, 253, 253);
  padding: 20px;
  color: white;
  & button {
    background-color: #133e79;
    color: white;
    margin: 20px;
    cursor: pointer;
  }
}

.conteudoMensagem {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cardMensagem {
  background-color: #e9e9e9;
  border-radius: 10px;
  color: black;
  padding: 10px;

  & p {
    margin-bottom: 8px;
  }
}

.botaoInscrever {
  font-size: 28px;
  cursor: pointer;
  margin-top: 10px;
}
