.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #f4fcfb;
  width: 750px;
  padding: 16px;
  border-radius: 10px;
  justify-content: center;
  margin: 0 auto;
  margin-top: 50px;

  & h1 {
    font-size: 25px;
    padding-bottom: 10px;
  }

  & h2 {
    background-color: var(--cor-unb-cinza-fraco);
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 10px;
    width: 700px;
    border-radius: 10px;
    font-size: 22px;
    font-weight: 500;
  }
  & button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 160px;
    font-size: 19px;
    margin-top: 15px;
    padding: 8px;
    border-radius: 8px;
    background-color: var(--cor-unb-primaria);
    color: var(--cor-unb-branca);
    cursor: pointer;
  }
}

.formulario {
  background-color: var(--cor-unb-cinza-fraco);
  color: black;
  display: grid;
  grid-template-columns: auto 1fr;
  width: 700px;
  margin: 0 auto;
  margin-top: 20px;
  font-size: 20px;
  padding: 20px;
  border-radius: 10px;

  & label {
    text-align: right;
    padding: 5px;
  }

  & input {
    background-color: #f4fcfb;
    font-size: 16px;
    width: 90%;
    margin: 5px;
    padding: 5px;
    border-radius: 6px;
  }
}

.descricao {
  background-color: #f4fcfb;
  width: 90%;
  min-height: 150px;
  margin: 5px;
  padding: 5px;
  font-size: 20px;
  border-radius: 6px;
  resize: vertical;
}
