.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #f4fcfb;
  width: 650px;
  padding: 16px;
  border-radius: 10px;
  justify-content: center;
  margin: 0 auto;
  margin-top: 50px;

  h1 {
    font-size: 25px;
    padding-bottom: 10px;
  }

  & p {
    background-color: var(--cor-unb-cinza-fraco);
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 10px;
    width: 610px;
    border-radius: 10px;
    font-size: 22px;
    font-weight: 500;
  }
}

.formulario {
  background-color: var(--cor-unb-cinza-fraco);
  display: grid;
  grid-template-columns: auto 1fr;
  width: 600px;
  margin: 0 auto;
  font-size: 20px;
  padding: 20px;
  border-radius: 0 0 10px 10px;
  margin-top: 20px;
  border-radius: 10px;
  & label {
    text-align: right;
    padding: 5px;
  }

  & input {
    background-color: #f4fcfb;
    font-size: 16px;
    width: 90%;
    margin: 5px;
    padding: 5px;
    border-radius: 6px;
  }

  & select {
    font-size: 16px;
    border-radius: 6px;
    width: 94%;
  }

  & h6 {
    display: flex;
    text-align: center;
    font-size: 10px;
  }
}

.select {
  background-color: #f4fcfb;
  font-size: 16px;
  width: 90%;
  margin: 5px;
  padding: 5px;
  & option {
    font-size: 13px;
  }
}

.button {
  background-color: var(--cor-unb-primaria);
  color: var(--cor-unb-branca);
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 15px;
  padding: 8px;
  cursor: pointer;
  width: 160px;
  border-radius: 8px;
  font-size: 15px;
}

.button:hover {
  opacity: 0.8;
}
