@import "tailwindcss";

@theme {
  --cor-unb-primaria: #008940;
  --cor-unb-secundaria: #133e79;
  --cor-unb-branca: #ffffff;
  --cor-unb-cinza-fraco: #e9e9e9;
}

body,
#root {
  min-height: 100vh;
  margin: 0;
  background-color: #1b3150;
  font-style: normal;
}

.header_logo {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  pointer-events: none;
}

.header_logo img {
  display: block;
  box-sizing: border-box;
  background-color: var(--cor-unb-secundaria);
  width: 128px;
  padding-left: 10px;
  padding-top: 10px;
  opacity: 0.2;
}
